<!DOCTYPE html>

<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/sections :: header-css"/>

<body>

<!-- Bal Oldali Panel -->
<aside th:replace="common/menus :: left-panel"></aside>

<!-- Jobb Oldali Panel -->
<div id="right-panel" class="right-panel">

    <header th:replace="common/menus :: rp-header"/>

    <div th:replace="common/menus :: rp-breadcrumbs (pageTitle='Jelszókezelés')"/>

    <!-- Oldal Tartalom Kezdete -->

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header bg-flat-color-1">
                            <strong class="card-title text-white">Jelszó Módosítása</strong>
                        </div>
                        <div class="card-body">

                            <!-- Figyelmeztetések Kezdete -->
                            <div class="form-group text-left">
                                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show"
                                     th:if="${errorMsg}">
                                    <span class="badge badge-pill badge-danger">Error</span>
                                    <span th:text="${errorMsg}"></span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Bezárás">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>

                            <div class="form-group text-left">
                                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show"
                                     th:if="${successMsg}">
                                    <span class="badge badge-pill badge-success">Siker</span>
                                    <span th:text="${successMsg}"></span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Bezárás">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <!--  Figyelmeztetések Vége -->

                            <!-- Jelszó Módosítása -->
                            <div id="pay-invoice">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h3 class="text-center">Új Jelszó Beállítása</h3>
                                    </div>
                                    <hr>
                                    <form th:action="@{/user/password}" method="post">
                                        <div class="form-group">
                                            <label for="currentPassword" class="control-label mb-1">
                                                <strong>Jelenlegi Jelszó</strong>
                                            </label>
                                            <input id="currentPassword" name="currentPassword" type="password"
                                                   class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="newPassword" class="control-label mb-1">
                                                <strong>Új Jelszó</strong>
                                            </label>
                                            <input id="newPassword" name="newPassword" type="password"
                                                   class="form-control" required th:pattern="${patternPassword}"
                                                   th:title="${patternPasswordMSG}">
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmPassword" class="control-label mb-1">
                                                <strong>Új Jelszó Megerősítése</strong>
                                            </label>
                                            <input id="confirmPassword" name="confirmPassword" type="password"
                                                   class="form-control" required>
                                        </div>
                                        <div>
                                            <button id="payment-button" type="submit"
                                                    class="btn btn-primary btn-lg btn-block">
                                                <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                <span id="payment-button-amount">Jelszó Módosítása</span>
                                                <span id="payment-button-sending"
                                                      style="display:none;">Módosítás…</span>
                                            </button>
                                        </div>
                                    </form> <!--  Űrlap Vége -->
                                </div> <!-- Kártya Teste Vége -->
                            </div> <!-- Módosítás -->

                        </div> <!-- Kártya Vége -->
                    </div> <!-- Oszlop 6 Vége -->
                </div> <!-- Sor Vége -->
            </div>
        </div><!-- Animált -->
    </div><!-- Tartalom Vége -->

    <!-- Oldal Tartalom Vége -->

</div> <!-- Jobb Oldali Panel Vége -->

<!-- Lábléc -->
<div th:replace="common/sections :: footer-scripts"></div>

<script type="text/javascript">
		var password = document.getElementById("newPassword"), confirm_password = document.getElementById("confirmPassword");

		function validatePassword(){
	  		if(password.value != confirm_password.value) {
	    		confirm_password.setCustomValidity("A jelszavak nem egyeznek");
	  		} else {
	    		confirm_password.setCustomValidity('');
	 		}
		}

		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;


</script>

</body>
</html>
